.construct-lib {
	margin: 0.25rem;
	background-color: #987fe532;
	border-radius: 0.25rem;
}

.construct-lib .header {
	padding: 0.5rem;
}

.construct-lib .header-button {
	display: flex;
	justify-content: flex-end;
}

.construct-table {
	margin: 0.5rem 0 0.5rem 0;
}