.study-panel {
	margin: 0.25rem;
	background-color: #f5f2fd;
	border-radius: 0.25rem;
	/* padding: 0.25rem; */
}

.study-panel .header {
	padding: 1rem;
	border-radius: 0.25rem 0.25rem 0 0;
	/* background-color: #e0dcec; */
	/* overflow: hidden; */
}

.study-panel .header-button-container {
	display: flex;
	justify-content: flex-end;
}

.study-panel .header-button {
	margin: 0.5rem 0 0.5em 0;
}

.study-panel .list-container {
	/* height: 50vh; */
	/* overflow-y: scroll; */
	margin: 0.5rem 0 0.5rem 0;
}