.construct-table {
	
}

.construct-table .header {
	
}

.construct-table tr {
	text-align: "left";
	cursor: pointer;
}

.construct-table tr:hover td {
	background-color: #f0a050;
}

.construct-table tr.selected td {
	background-color: #f0a050;
}